# ignore all exploit files
# if you need to expand this list do so
exploit.py
solve.py
run.py
do.py

# core dump files
core*

# libc / ld
libc*.so.*
ld*.so.*

# environment files
.env
env/
venv/
.venv

# other
.vscode/
.idea/
